<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
    </head>
    <body>
        <h2> Dahsboard - User</h2>

        <form method="POST">
            <label> Choose attribute 1:</label>
            <select name="State">
                <option value="CA">A</option>
                <option value="">B</option>
            </select>
            <label> Choose attribute 2:</label>
            <select name="Patient type">
                <option value="Patients using donor eggs/embryos">Patients using donor eggs/embryos</option>
                <option value="Patients using their own eggs">Patients using their own eggs</option>
                <option value="Patients with no prior ART using their own eggs">Patients with no prior ART using their own eggs</option>
            </select>

            <button type="submit">Submit</button>
        </form>

        {% if result %}
        <h3>Result:</h3>
        <p>{{ result }}</p>
        <h4>Description:</h4>
        <p>{{ description }}</p>
        {% endif%}
    </body>
</html>